* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.register {
  font-size: 12px;

  margin: 20px auto;
  background-color: #eac926;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  line-height: 1.7rem;
}

.register-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 30px 10px;
  border-bottom: 0.5px #fff solid;
}

a {
  text-decoration: none;
}

.new-name,
.new-user-name,
.new-email,
.birth,
.adress,
.profile,
.intereses,
.profile-pic,
.new-password,
.confir-new-password,
.main-button {
  display: block;
}

.send {
  color: #000;
  background-color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 1px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 20%;
}

.profile,
.options,
.intereses,
.categories,
.profile-pic,
.main-button,
.send {
  margin-left: 10px;
}

#new-name,
#new-user-name,
#new-email,
#birth,
#adress,
#profile,
#intereses,
#profile-pic,
#new-password,
#confir-new-password,
#main-button {
  width: 100%;
  padding: 3px;
  font-size: 12px;
  margin: 5px;
}
